body {
  font-size: 16px;
}

main {
  max-width: 800px;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 1rem;
}

section {
  position: relative;
}

h3 {
  font-family: var(--font-family-headings);
}

article {
  position: relative;
  padding: 2rem;
  background-color: var(--surface);
  top: -12rem;
  left: 3rem;
  max-width: 580px;
  line-height: 2;
  min-height: 12rem;
}
