html,
body {
  font-size: 15px;
  font-family: "Playfair Display"; }

* {
  box-sizing: border-box; }

h1 {
  white-space: nowrap; }

h1,
h2,
h3,
h4,
strong,
p {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-style: italic; }

.wrapper {
  max-width: 900px;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between; }
  .wrapper .header {
    position: fixed;
    margin-top: 10%;
    width: 300px;
    flex: 1;
    text-align: right;
    padding: 0 3rem; }
  .wrapper .content {
    flex: 1;
    padding-left: 300px; }
    .wrapper .content .item {
      position: relative;
      margin-bottom: 3rem; }
      .wrapper .content .item:hover img + h3 {
        opacity: 1; }
      .wrapper .content .item img {
        max-width: 100%; }
        .wrapper .content .item img + h3 {
          font-family: 'Lato';
          transition: opacity 0.5s ease;
          opacity: 0;
          position: absolute;
          top: 1rem;
          left: 1rem;
          display: inline-block;
          background-color: #000;
          color: #fff;
          font-size: 1rem;
          padding: 3px 5px;
          margin: 0; }
